h1,h2,h3,h4,h5,h6 {
	text-decoration: underline;
}
p {
	font-family: "Verdana";
	font-family: serif;
	font-size: 14px;
}
li {
	font-size: 13px;
}
ul.navMenu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333333;
}

li.navMenu {
    float: left;
}

li.navMenu a{
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li.navMenu a:hover {
    background-color: #111111;
}

p#redRound {
	border: 1px solid red;
	border-radius: 12px;
}
table,td#Merge {
	border: 1px solid black;
	border-collapse: collapse;
}